*{
    /*-fx-background-color: #f3f7f3;*/
}

.scroll-pane{
    -fx-border-width: 0px;
    -fx-background-insets: 0;
}

.card {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 15, 0.0, 0.0, 0.0);
}