/**{*/
/*    -fx-background-color: #f3f7f3;*/
/*}*/
.sidebar {
    -fx-background-radius: 0 20 20 0; /* Top-left, Top-right, Bottom-right, Bottom-left */
}
.scroll-pane{
    -fx-border-width: 0px;
    -fx-background-insets: 0;
}

.card {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0.0, 3);
    /*-fx-background-color: linear-gradient(to top, #213a58, #0c6478);*/
    /*-fx-background-radius: 15;*/
    /*-fx-background-color: linear-gradient(to top, #0073b0, #00aed1);*/
    -fx-background-radius: 15;
    -fx-border-color: #007bff; /* Blue border color */
    -fx-border-width: 0px; /* Adjust border thickness as needed */
    -fx-border-radius: 15;
    -fx-background-color: white;
}

.card:hover .card-manage {
    visibility: visible;
}

.card-manage {
    visibility: hidden;
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(to top, #213a58, #0c6478);   /*#213a58*/
    opacity: 0.8;
}

.card-manage Button {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0.0, 0.0, 2);
}
.category-button {
    -fx-background-color: white;
    -fx-text-fill: #3434c5;
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
}

.button{
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-cursor: hand;
}
.toggle-button{
    -fx-background-color: white;
}
.toggle-button:selected {
    -fx-background-color: #c5ebfe;
}

.category-button:hover {
    -fx-background-color: #f5eefb;
}
.category-button:focused{
    -fx-background-color: #f5eefb;
}


.text-field {
    -fx-border-color: transparent transparent #2d4367 transparent; /* Show only bottom border */
    -fx-border-width: 0 0 2 0; /* Adjust border thickness as needed */
    -fx-background-color: transparent; /* Optional: Make background transparent */
    -fx-prompt-text-fill: #aaa; /* Optional: Style the prompt text */
}

.text-field:focused {
    -fx-border-color: transparent transparent #0056b3 transparent; /* Change color on focus */
}

.buttonmain {
    -fx-text-fill: #8d87ac;
    -fx-font-family: 'Arial';
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-cursor: hand;
}

.buttonmain:hover{
    -fx-text-fill: #9bd9fe;
}

.buttonmain:focused {
        -fx-text-fill: #21a9ff;
    -fx-font-size: 14px;
}
.combo-box {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 25px 0 0 25px;

}

.combo-box .arrow {
    -fx-background-color: transparent;
}

.combo-box .list-cell {
    -fx-padding: 5px 10px;
}

.date-picker {
    -fx-border-color: transparent transparent #2d4367 transparent; /* Show only bottom border */
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #aaa;
}

.date-picker:focused {
    -fx-border-color: transparent transparent #0056b3 transparent;
}

.date-picker .text-field { /* Style the inner text field */
    -fx-border-color: transparent; /* Remove the default border */
    -fx-background-color: transparent;
}

.btnlogout{
    -fx-background-color: #ee2222;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0, 0, 1);
}

.btnUpdate{
    -fx-background-color: #3434c5;
    -fx-text-fill: white;
}

.btnDelete{
    -fx-background-color: #ee2222;
    -fx-text-fill: white;
}

.taskTable {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 10px;
}

.taskTable .column-header-background {
    -fx-background-color: #f0f0f0;
}

.taskTable .table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-cell-size: 30px;
}

.taskTable .table-row-cell:odd {
    -fx-background-color: #f5f5f5;
}

.taskTable .table-row-cell:hover {
    -fx-background-color: #e0e0e0;
}

.taskTable .table-row-cell:selected {
    -fx-background-color: #82bccc; /* Light blue background for selected row */
    -fx-text-fill: black; /* Black text color for selected row */
}
.taskTable .table-row-cell .button { /* Target buttons within table cells */
    -fx-pref-width: 80px; /* Adjust width as needed */
}

.taskTable .table-cell {
    -fx-alignment: CENTER; /* Center align content in all cells */
}

