*{
    /*-fx-background-color: #f3f7f3;*/
}

.scroll-pane{
    -fx-border-width: 0px;
    -fx-background-insets: 0;
}

.card {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.0, 0.0, 5);
}

.button{
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-cursor: hand;
}
.toggle-button{
    -fx-background-color: white;
}
.toggle-button:selected {
    -fx-background-color: #C2FFC7;
}

.card:hover .card-manage {
    visibility: visible;
}

.card-manage {
    visibility: hidden;
    opacity: 0.8;
}

.card-manage Button {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0.0, 0.0, 2);
}